.aboutme__wrapper {
    width: 572px;
    margin-left: 468px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 252px);
    grid-template-rows: repeat(2, 123px);
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
}

.grid-elem {
    display: flex;
    height: 123px;

}

.aboutme {
    min-height: 535px;
    &__subtitle {
        width: 130px;
        padding: 12px 25px;
        @include bordlime;
        border-style: dashed;
    }
    &__title {
        margin-bottom: 0;
    }
    &__divider {
        display: block;
        width: 60px;
        height: 3px;
        background-color: $main-color;
        margin-bottom: 20px;
    }
    &__descr {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
    }
    &__item {
        img {
            width: 40px;
            height: 40px;
            @include bordlime;
            padding: 8px;
            border-radius: 10px;
        }
        &__title {
            color: $main-color;
            font-weight: 700;
            margin-top: 7px;
        }
        &__descr {
            margin-top: 6px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #FFFFFF;
        }
        &__text {
            margin-left: 12px;
        }
    }
}